.edit-personal-data-container {
  max-width: 1000px; /* Увеличьте ширину контейнера */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.edit-personal-data-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #F0BB29;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #e0aa1e;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.edit-personal-data-table {
  width: 100%;
  border-collapse: collapse;
}

.edit-personal-data-table th,
.edit-personal-data-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.edit-personal-data-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.back-button {
  margin-bottom: 20px;
}

.button-container {
  margin-top: 20px;
}

.edit-personal-data-button {
  margin-right: 10px;
}

.password-change-container {
  margin-top: 20px;
  text-align: left;
}

/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
  .edit-personal-data-container {
    padding: 10px;
  }

  .edit-personal-data-container h2 {
    font-size: 1.5em;
  }

  .form-group input {
    padding: 6px;
  }

  button {
    padding: 8px 16px;
    font-size: 0.9em;
  }

  .edit-personal-data-table th,
  .edit-personal-data-table td {
    padding: 6px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit-personal-data-button {
    margin-bottom: 10px;
    width: 100%;
  }
}