/* src/components/Home.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  font-family: 'Montserrat', sans-serif;
}

.main-content {
  text-align: center;
  color: white;
  position: relative;
  height: 100vh; /* Устанавливаем высоту на весь экран */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Скрываем переполнение */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/images/photostudio.jpg'); /* Путь к файлу в папке components/assets/images */
  background-size: cover;
  background-position: center;
  filter: blur(0px); /* Применяем размытие */
  z-index: -1; /* Помещаем фон ниже других элементов */
}

.description {
  background-color: white; /* Убираем прозрачность */
  color: black;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-box {
  background-color: white; /* Убираем прозрачность */
  color: black;
  padding: 20px;
  border-radius: 5px;
  font-size: 24px;
  width: 300px;
}

.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: yellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #223F4A;
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}