@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  font-family: 'Montserrat', sans-serif;
  height: calc(100vh - 80px); /* Уменьшаем высоту, чтобы задний фон не выходил за пределы подвала */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Учитываем пространство под подвал */
}

.main-content {
  text-align: center;
  color: white;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Скрываем переполнение */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/images/photostudio.jpg'); /* Путь к файлу в папке components/assets/images */
  background-size: cover;
  background-position: center;
  filter: brightness(80%); /* Затемнение фона на 20% */
  z-index: -1; /* Помещаем фон ниже других элементов */
}

.description {
  background-color: white; /* Убираем прозрачность */
  color: black;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  max-width: 600px; /* Ограничиваем ширину */
  text-align: center; /* Центрируем текст */
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.service-box {
  background-color: white; /* Убираем прозрачность */
  color: black;
  padding: 20px;
  border-radius: 5px;
  font-size: 24px;
  width: 300px;
  max-width: 300px; /* Ограничиваем ширину */
  text-align: center; /* Центрируем текст */
}

.cta-button {
  display: inline-block; /* Ограничиваем размер кнопки */
  width: auto; /* Добавляем это свойство, чтобы кнопка не растягивалась на всю ширину */
  margin-top: 20px;
  padding: 10px 20px;
  background-color: yellow; /* Задаем цвет кнопки */
  color: black; /* Возвращаем цвет текста на черный */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

.footer-container {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #223F4A; /* Цвет фона подвала */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 90%;
  max-width: 500px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
}

.form-group select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Медиа-запросы для мобильной оптимизации */
@media (max-width: 768px) {
  .description {
    font-size: 18px; /* Уменьшаем размер шрифта */
    padding: 15px; /* Уменьшаем отступы */
    max-width: 90%; /* Увеличиваем ширину */
  }

  .service-box {
    width: 90%; /* Увеличиваем ширину сервисных блоков */
    max-width: 90%; /* Ограничиваем максимальную ширину */
    font-size: 18px; /* Уменьшаем размер шрифта */
  }

  .cta-button {
    font-size: 20px; /* Уменьшаем размер шрифта */
    padding: 8px 16px; /* Уменьшаем отступы */
  }
}