.payment-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.payment-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.sbp-logo {
  width: 100px; /* Устанавливаем ширину */
  height: 53px; /* Устанавливаем высоту */
  margin-bottom: 10px;
}

.payment-title {
  text-align: center;
}

.payment-form .form-group {
  margin-bottom: 15px;
}

.payment-form label {
  display: block;
  margin-bottom: 5px;
}

.payment-form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-button {
  width: 100%;
  padding: 10px;
  background-color: #F0BB29; /* Устанавливаем цвет кнопки */
  border: none;
  border-radius: 5px;
  color: white; /* Устанавливаем цвет шрифта */
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.payment-button:hover {
  background-color: #e6b800;
}