/* src/components/Registration.css */

.registration-wrapper {
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center; /* Центрирует по вертикали */
    font-family: 'Montserrat', sans-serif;
    height: 80vh;
    background-color: #f6f5f7; /* Цвет фона */
    margin: 0;
  }
  
  .registration-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left; /* Текст выравнивается по левому краю */
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #e6b800;
  }